In [15]:
import os
import pandas as pd

import py2neo
from py2neo import Graph,Node,Relationship

import IPython

print ('py2neo version', py2neo.__version__)

py2neo version 2021.2.3

In [16]:
db_url = 'neo4j@bolt://neo4j@localhost:7687'
db_pass = 'tweets'

graph = Graph(db_url, password = db_pass)

In [17]:
#consulta de prueba para ver que todo funcione

nro_nodos_user="MATCH(u:User) RETURN Count(u)"
nro_nodos_tweet="MATCH(t:Tweet) RETURN Count(t)"

#evaluamos las consultas
result_users=graph.evaluate(nro_nodos_user)
result_tweets=graph.evaluate(nro_nodos_tweet)

#imprimo resultados
print(f'En la BD hay {result_users} nodos User y {result_tweets} nodos Tweet')

En la BD hay 55860 nodos User y 405369 nodos Tweet

In [18]:
# Create a projection of the graph and store it on the catalog

nodos_tweet = (
    "CALL gds.graph.project('tweets', ['User', 'Tweet', 'Hashtag'], ['MENTIONS', 'TWEETED', 'TAG', 'REPLY', 'QUOTE']) "
)

#evaluamos las consultas
tweets=graph.run(nodos_tweet).to_data_frame() 

tweets

,nodeProjection,relationshipProjection,graphName,nodeCount,relationshipCount,projectMillis
0,"{'Hashtag': {'label': 'Hashtag', 'properties':...","{'QUOTE': {'orientation': 'NATURAL', 'aggregat...",tweets,474112,1098318,1074

In [19]:
# Retrieve all graphs on the catalog to see if it was stored correctly

query = (
    "CALL gds.graph.list() "
)

#evaluamos las consultas
tweets=graph.run(query).to_data_frame() 

tweets

,degreeDistribution,graphName,database,memoryUsage,sizeInBytes,nodeCount,relationshipCount,configuration,density,creationTime,modificationTime,schema
0,"{'p99': 22, 'min': 0, 'max': 3502, 'mean': 2.3...",tweets,neo4j,62 MiB,65332451,474112,1098318,{'relationshipProjection': {'QUOTE': {'orienta...,0.000005,2022-06-13T18:32:47.873189000-03:00,2022-06-13T18:32:50.980297999-03:00,"{'relationships': {'QUOTE': {}, 'TAG': {}, 'ME..."

In [31]:
# Execute the PageRank centrality algorithm

query = (
    "CALL gds.pageRank.stream('tweets') "
    "YIELD nodeId, score "
    "WITH gds.util.asNode(nodeId) AS node, score "
    "WHERE node.name IS NOT NULL "
    "RETURN node.name, node.username, node.followers, node.tweet_count, score "
    "ORDER BY score DESC, node.name ASC "
    "LIMIT 20"
)

#evaluamos las consultas
tweets=graph.run(query).to_data_frame() 

tweets

,node.name,node.username,node.followers,node.tweet_count,score
0,Isabel_,Isabel66991411,5478,78777,532.363366
1,Nacional,Nacional,341359,29775,258.826929
2,‚ò™Ô∏èüÖ∞Ô∏è¬ÆÔ∏èüõ¥üåéüí∞,boniatero75,2129,42533,244.961132
3,PE√ëAROL,OficialCAP,434933,43753,212.705624
4,Luis Lacalle Pou,LuisLacallePou,416367,27270,212.469123
5,JACK_TORRANCE‚¨ÜÔ∏è,LaMoscaFliesu2,638,13809,196.414486
6,LMP,Lelengo86,513,5257,142.805804
7,üí´üí´Estela‚ù§Ô∏èüò∑üò∑üèÜüñ§üíõ,EstelaF68436226,3484,84862,139.781317
8,Maria Gagliardi..@2311,mag_2311,6847,105786,130.684302
9,gaby üíñüíô‚ù§Ô∏è,sgabyo,2084,28238,130.111393
10,ANALI BENTENCOURT,Analiros,1373,23096,129.960037
11,EL PA√çS,elpaisuy,792004,417586,129.356265
12,Antonella Gordillo üá∫üáæü•ï,AntoGordillo,5616,14396,119.390881
13,Montevideo Portal,portalmvd,571372,456315,114.919398
14,Indiaüá∫üáæ,VeroG2015,1255,56085,114.257063
15,ùîºùïù ‚Ñôùïñùïîùïí,el_pandense,707,4678,110.932208
16,Telemundo,TelemundoUY,281014,147473,105.923104
17,Graciela Bianchi,gbianchi404,74276,60786,97.330637
18,DECOS HIPPOCRATES,DECOSHIPPOCRAT1,5114,12944,93.779148
19,Frente Amplio,Frente_Amplio,123620,24552,92.261583

In [32]:
# Execute the ArticleRank centrality algorithm

query = (
    "CALL gds.articleRank.stream('tweets') "
    "YIELD nodeId, score "
    "WITH gds.util.asNode(nodeId) AS node, score "
    "WHERE node.name IS NOT NULL "
    "RETURN node.name, node.username, node.followers, node.tweet_count, score "
    "ORDER BY score DESC, node.name ASC "
    "LIMIT 20"
)

#evaluamos las consultas
tweets=graph.run(query).to_data_frame() 

tweets

,node.name,node.username,node.followers,node.tweet_count,score
0,Isabel_,Isabel66991411,5478,78777,137.856228
1,Nacional,Nacional,341359,29775,74.258115
2,Luis Lacalle Pou,LuisLacallePou,416367,27270,68.426836
3,‚ò™Ô∏èüÖ∞Ô∏è¬ÆÔ∏èüõ¥üåéüí∞,boniatero75,2129,42533,66.749522
4,PE√ëAROL,OficialCAP,434933,43753,65.690199
5,JACK_TORRANCE‚¨ÜÔ∏è,LaMoscaFliesu2,638,13809,59.331938
6,üí´üí´Estela‚ù§Ô∏èüò∑üò∑üèÜüñ§üíõ,EstelaF68436226,3484,84862,43.618648
7,EL PA√çS,elpaisuy,792004,417586,41.687620
8,ANALI BENTENCOURT,Analiros,1373,23096,40.171233
9,Graciela Bianchi,gbianchi404,74276,60786,39.878694
10,gaby üíñüíô‚ù§Ô∏è,sgabyo,2084,28238,38.543271
11,LMP,Lelengo86,513,5257,38.334260
12,Telemundo,TelemundoUY,281014,147473,37.837434
13,Montevideo Portal,portalmvd,571372,456315,36.765579
14,DECOS HIPPOCRATES,DECOSHIPPOCRAT1,5114,12944,36.737236
15,Indiaüá∫üáæ,VeroG2015,1255,56085,32.772844
16,Frente Amplio,Frente_Amplio,123620,24552,31.902245
17,leo sarro press,leosarro,51348,14180,30.854709
18,Antonella Gordillo üá∫üáæü•ï,AntoGordillo,5616,14396,29.892217
19,ùîºùïù ‚Ñôùïñùïîùïí,el_pandense,707,4678,28.891526

In [34]:
# Execute the Betweenness centrality algorithm

query = (
    "CALL gds.betweenness.stream('tweets') "
    "YIELD nodeId, score "
    "WITH gds.util.asNode(nodeId) AS node, score "
    "WHERE node.name IS NOT NULL "
    "RETURN node.name, node.username, node.followers, node.tweet_count, score "
    "ORDER BY score DESC, node.name ASC "
    "LIMIT 20"
)

#evaluamos las consultas
tweets=graph.run(query).to_data_frame() 

tweets

,node.name,node.username,node.followers,node.tweet_count,score
0,Isabel_,Isabel66991411,5478,78777,7.304500e+09
1,‚ò™Ô∏èüÖ∞Ô∏è¬ÆÔ∏èüõ¥üåéüí∞,boniatero75,2129,42533,4.205308e+09
2,gaby üíñüíô‚ù§Ô∏è,sgabyo,2084,28238,3.648774e+09
3,JACK_TORRANCE‚¨ÜÔ∏è,LaMoscaFliesu2,638,13809,3.090501e+09
4,LMP,Lelengo86,513,5257,2.456070e+09
5,ANALI BENTENCOURT,Analiros,1373,23096,2.403511e+09
6,Jorge Andr√©s,JorgeAndresBusi,2554,94890,2.199247e+09
7,ùï¥ùñìùñòùñîùñïùñîùñóùñôùñÜùñáùñëùñäùñíùñäùñìùñôùñä ùï≠ùñîùñëùñòùñî,KiwiNacional,1355,53954,1.846585e+09
8,üí´üí´Estela‚ù§Ô∏èüò∑üò∑üèÜüñ§üíõ,EstelaF68436226,3484,84862,1.805920e+09
9,Antonella Gordillo üá∫üáæü•ï,AntoGordillo,5616,14396,1.718331e+09
10,Gabriela,zurdayo,3573,31947,1.714735e+09
11,T√≠a Brishith #87CEEB üá∫üáæ,latiabrishith,2661,35290,1.655156e+09
12,Roberto,Roberto36274454,2482,88009,1.614130e+09
13,Cristhian Arrighetti,CArrighetti,96,6701,1.558488e+09
14,Tickantel,Tickantel,6316,2908,1.535073e+09
15,Jenny Parada Martino,MartinoParada,1137,62402,1.516963e+09
16,üëëüåªùìêùì∑ùìΩùì∏ùì∑ùìÆùìµùìµùì™üíéüëë,Antonnella1891,3718,63855,1.472691e+09
17,Michele Piquet,MichelePiquet2,1788,16856,1.422981e+09
18,ùîºùïù ‚Ñôùïñùïîùïí,el_pandense,707,4678,1.408865e+09
19,Nati,NatiMArbiza,1643,53603,1.401401e+09

In [35]:
# Execute the Degree centrality algorithm

query = (
    "CALL gds.degree.stream('tweets') "
    "YIELD nodeId, score "
    "WITH gds.util.asNode(nodeId) AS node, score "
    "WHERE node.name IS NOT NULL "
    "RETURN node.name, node.username, node.followers, node.tweet_count, score "
    "ORDER BY score DESC, node.name ASC "
    "LIMIT 20"
)

#evaluamos las consultas
tweets=graph.run(query).to_data_frame() 

tweets

,node.name,node.username,node.followers,node.tweet_count,score
0,Isabel_,Isabel66991411,5478,78777,3502.0
1,JACK_TORRANCE‚¨ÜÔ∏è,LaMoscaFliesu2,638,13809,2151.0
2,‚ò™Ô∏èüÖ∞Ô∏è¬ÆÔ∏èüõ¥üåéüí∞,boniatero75,2129,42533,1943.0
3,gaby üíñüíô‚ù§Ô∏è,sgabyo,2084,28238,1820.0
4,ùöÇiL ‚ù§Ô∏è‚Äçüî• #36303,madrechocolates,977,77480,1646.0
5,Jenny Parada Martino,MartinoParada,1137,62402,1625.0
6,ANALI BENTENCOURT,Analiros,1373,23096,1624.0
7,LMP,Lelengo86,513,5257,1586.0
8,Cada direcci√≥n de Montevideo,everylotMVD,251,14198,1488.0
9,üí´üí´Estela‚ù§Ô∏èüò∑üò∑üèÜüñ§üíõ,EstelaF68436226,3484,84862,1404.0
10,Olga Alonso,OlgaAlonso9,1206,41509,1340.0
11,m√°ximo j gutierrez z,bonnevilleminas,894,83471,1271.0
12,Gabriela,zurdayo,3573,31947,1150.0
13,Beatriz Garc√≠a Montejo,Beagmontejo,19748,149869,1089.0
14,Jorge Andr√©s,JorgeAndresBusi,2554,94890,1017.0
15,Paulo4419091.4@gmail,Paulo44190914,17,1743,985.0
16,Indiaüá∫üáæ,VeroG2015,1255,56085,982.0
17,MaGnUs,lordmagnusen,4898,103162,971.0
18,ùîºùïù ‚Ñôùïñùïîùïí,el_pandense,707,4678,965.0
19,üëëüåªùìêùì∑ùìΩùì∏ùì∑ùìÆùìµùìµùì™üíéüëë,Antonnella1891,3718,63855,962.0

In [36]:
# Execute the Degree centrality algorithm

query = (
    "CALL gds.louvain.stream('tweets') "
    "YIELD nodeId, communityId, intermediateCommunityIds"
    "WITH gds.util.asNode(nodeId) AS node, communityId "
    "WHERE node.name IS NOT NULL "
    "RETURN node.name, node.username, communityId "
)

#evaluamos las consultas
tweets=graph.run(query).to_data_frame() 

tweets

ClientError: [Statement.SyntaxError] Invalid input 'gds': expected
  ","
  "AS"
  "CALL"
  "CREATE"
  "DELETE"
  "DETACH"
  "FOREACH"
  "LOAD"
  "MATCH"
  "MERGE"
  "OPTIONAL"
  "REMOVE"
  "RETURN"
  "SET"
  "UNION"
  "UNWIND"
  "USE"
  "WHERE"
  "WITH"
  <EOF> (line 1, column 91 (offset: 90))
"CALL gds.louvain.stream('tweets') YIELD nodeId, communityId, intermediateCommunityIdsWITH gds.util.asNode(nodeId) AS node, communityId WHERE node.name IS NOT NULL RETURN node.name, node.username, communityId"
                                                                                           ^