In [ ]:
#!pip install py2neo

import os
import pandas as pd

import py2neo
from py2neo import Graph,Node,Relationship

import IPython

print ('py2neo version', py2neo.__version__)

py2neo version 2021.2.3

In [ ]:
# Connect the repository to the DB
db_url = 'neo4j@bolt://neo4j@localhost:7687'
db_pass = 'tweets'

graph = Graph(db_url, password = db_pass)

In [ ]:
#consulta de prueba para ver que todo funcione

nro_nodos_user="MATCH(u:User) RETURN Count(u)"
nro_nodos_tweet="MATCH(t:Tweet) RETURN Count(t)"

#evaluamos las consultas
result_users=graph.evaluate(nro_nodos_user)
result_tweets=graph.evaluate(nro_nodos_tweet)

#imprimo resultados
print(f'En la BD hay {result_users} nodos User y {result_tweets} nodos Tweet')

En la BD hay 616 nodos User y 706 nodos Tweet

In [ ]:
#consulta que retorna una tabla de resultados

nodos_tweet="MATCH(t:Tweet) RETURN t.id, t.text, t.like_count ORDER BY t.like_count DESC LIMIT 25"

#evaluamos las consultas
tweets=graph.run(nodos_tweet).to_data_frame() 

tweets

,t.id,t.text,t.like_count
0,1527687234370973696,"hola, soy luc√≠a otra vez.\nlamento decirles qu...",652844
1,1528006228726644738,üö® Kylian Mbapp√© will STAY at Paris Saint-Germa...,240424
2,1528009999028461568,La GLORIA no se compra con DINERO,110509
3,1527665656161832960,Cristiano Ronaldo with Jesse Lingard's daughte...,96405
4,1528008029781753857,No me lo creo. https://t.co/52JxXxqcj1,89084
5,1527811429193097221,no puedo creer q en alg√∫n momento de mi vida c...,31203
6,1527693278204010497,"Simplemente, el Kun Ag√ºero üòÖ https://t.co/w5nd...",28007
7,1527109835954655233,Estamos todos de acuerdo en\nque √©sto es mil v...,25285
8,1527675941648056321,if jungkook is gonna do one thing https://t.co...,20703
9,1527476893406048259,47 millones y ni 1 que me quiera mantener,18186
10,1527628843409977344,aquele fino para come√ßar o dia https://t.co/dI...,12865
11,1528008853501116416,https://t.co/EBVALaWpKv,9760
12,1527705561961320448,just want to reiterate how thankful I am I get...,9168
13,1528007833450598405,Mitsubishi Lancer Evo https://t.co/OUXJoYI01X,7612
14,1527425147741011968,Los sue√±os se cumplen‚Ä¶ todo sacrificio mi viej...,6843
15,1527951498721865729,"Si no me presumo yo, nadie m√°s va a hacerloü•¥ h...",5585
16,1527926109119123457,Can I send you a selfie pleaseee? üôèüôè,4915
17,1527910823196336130,‚ö°Ô∏èRussia cuts off gas supplies to Finland. \n\...,4802
18,1527627110977789952,En Uruguay todav√≠a existen 197 personas desapa...,3138
19,1527634938173980673,"üéâ ¬°Feliz cumplea√±os, Puma! ‚öΩÔ∏è\n\nüí¨Dejale tu sa...",3112
20,1527749357474152448,Otra Marcha del Silencio donde los dos clubes ...,3068
21,1527984836845109252,"Te arrepientes, el Universo perdona.\nAyudas, ...",2907
22,1528011951657431041,"""Mbappe"":\nPorque informan que continuar√° sien...",2835
23,1527806113944576000,"Los que saben, ¬øpiensan morir sin contar la ve...",2619
24,1527270697944244224,Es curioso como los que se preguntan horroriza...,2472

### Consulta 1
Descripci√≥n consulta 1

In [ ]:
consulta = (
    "MATCH (m: Movie) "
    "WHERE m.year >= 2000 AND m.imdbRating > 8.5 "
    "RETURN m.title AS movie, m.imdbRating AS rating "
    "ORDER BY movie, rating DESC;"
)

result_cons=graph.run(consulta).to_data_frame() 

result_cons

                                                movie  rating
0                                    Band of Brothers     9.6
1                                Battlestar Galactica     8.7
2                        City of God (Cidade de Deus)     8.7
3                             Concert for George, The     8.7
4                                    Dark Knight, The     9.0
5    Dear Zachary: A Letter to a Son About His Father     8.6
6                      Dr. Horrible's Sing-Along Blog     8.7
7                                       Frozen Planet     9.1
8                                     Generation Kill     8.7
9                     George Carlin: It's Bad for Ya!     8.7
10                                              Heima     8.6
11                                               Home     8.6
12                                          Inception     8.8
13                                       Interstellar     8.6
14                                       Intouchables     8.6
15  Lord of the Rings: The Fellowship of the Ring,...     8.8
16     Lord of the Rings: The Return of the King, The     8.9
17             Lord of the Rings: The Two Towers, The     8.7
18                              Louis C.K.: Chewed Up     8.6
19                              Louis C.K.: Hilarious     8.6
20                              Louis C.K.: Shameless     8.7
21                                  Making a Murderer     9.0
22  Power of Nightmares, The: The Rise of the Poli...     9.0
23                                              Senna     8.6
24                                        Sing Street     8.6
25                        South Park: Imaginationland     8.6
26      Spirited Away (Sen to Chihiro no kamikakushi)     8.6
27      The Jinx: The Life and Deaths of Robert Durst     8.9
28      When the Levees Broke: A Requiem in Four Acts     8.6